@media screen and (max-width: 768px) {
  .login {
  height: 100vh;
  background-color: #f0f2f5;
  display: flex;
  align-items: center;
  justify-content: center;
  }
  
  .loginWrapper {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  }
  
  .loginLeft,
  .loginRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
  
  .loginLogo {
  font-size: 40px;
  font-weight: 800;
  color: #0e99da;
  margin-bottom: 10px;
  }
  
  .loginDesc {
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
  }
  
  .loginBox {
  height: 350px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  }
  
  .loginInput {
  height: 40px;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 16px;
  padding-left: 20px;
  margin-bottom: 10px;
  }
  
  .loginButton {
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: #1775ee;
  color: white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 10px;
  }
  
  .loginRegisterButton {
  width: 60%;
  align-self: center;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: #42b72a;
  color: white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  }
  
  .errorContainer > p {
  background: rgba(204, 55, 55, 0.726);
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  position: relative;
  margin-bottom: 5px;
  overflow: hidden;
  font-size: 14px;
  }
  
  .errorContainer {
  animation: fadeOut 1s forwards;
  animation-delay: 3s;
  position: fixed;
  right: 0;
  min-width: 250px;
  margin-top: 55px;
  margin-right: 20px;
  display: block;
  z-index: 11111;
  }
  }
