.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.147);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal {
  background-color: rgb(0, 0, 0);
  padding: 20px;
  border: 1px solid rgb(59, 44, 44);
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto;
}

.close {
  position: absolute;

  padding: 10px;
  cursor: pointer;
}
