.sidebar {
  flex: 3;
  height: calc(100vh - 50px);
  overflow-y: scroll;
  position: sticky;
  top: 50px;
}

.sidebarWrapper {
  padding: 20px;
}

.sidebarList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebarListItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.sidebarIcon {
  margin-right: 15px;
}

.sidebarButton {
  width: 150px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: 500;
}

.sidebarHr {
  margin: 20px 0;
}

.sidebarFriendList {
  padding: 0;
  margin: 0;
  list-style: none;
}

@media screen and (max-width: 768px) {
  .sidebar {
    flex: 1;
    height: auto;
    position: static;
    overflow-y: visible;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .sidebar {
    flex: 2;
  }
}

@media screen and (min-width: 1025px) {
  .sidebar {
    flex: 3;
  }
}
