.rightbar {
  flex: 3.5;
  margin-top: 20px;
}

.rightbarWrapper {
  padding: 20px;
}

.birthdayContainer {
  display: flex;
  align-items: center;
}

.birthdayImg {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.birthdayText {
  font-weight: 300;
  font-size: 15px;
}

.rightbarAd {
  width: 100%;
  border-radius: 10px;
  margin: 30px 0;
}

.rightbarTitle {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.rightbarFriendList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.rightbarInfo {
  margin-bottom: 30px;
}

.rightbarInfoItem {
  margin-bottom: 10px;
}

.rightbarInfoKey {
  font-weight: 500;
  margin-right: 15px;
  color: #555;
}

.rightbarInfoValue {
  font-weight: 300;
}

.rightbarFollowings {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}

.rightbarFollowing {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  width: 100%;
}

.rightbarFollowingImg {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 5px;
}

.rightbarFollowingName {
  text-align: center;
  margin-top: 10px;
}

.addFriendBtn {
  background-color: rgb(15, 100, 185);
  color: white;
  font-size: 10px;
  padding: 5px 30px;
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .rightbar {
    /* display: none; */
    flex: 1;
    margin-top: 20px;
  }

  .rightbarWrapper {
    padding: 20px;
  }

  .rightbarTitle {
    font-size: 16px;
  }

  .rightbarFollowing {
    margin-right: 0px;
    width: calc(33.33% - 10px);
  }

  .rightbarFollowingImg {
    width: 100%;
    height: 150px;
    border-radius: 5px;
  }

  .rightbarFollowingName {
    margin-top: 10px;
    font-size: 14px;
  }
}
